<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Service.Name" value="PDF_Watcher_Converter"/>
    <add key="Service.Description" value="This services watches a folder for .docx documents, and converts it to PDF"/>

    <add key="WatchFolder" value="C:\Users\Alminde\Desktop\WatchFolder"/>
  </appSettings>
</configuration>