<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Pmd.WindowsService" version="0.0.2" targetFramework="net461" />
  <package id="sautinsoft.pdfmetamorphosis" version="6.8.10.4" targetFramework="net461" />
  <package id="Topshelf" version="4.0.3" targetFramework="net461" />
  <package id="Topshelf.Linux" version="1.0.16.15" targetFramework="net461" />
</packages>