<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="sautinsoft.pdfmetamorphosis" version="6.8.10.4" targetFramework="net461" />
  <package id="sautinsoft.useoffice" version="4.7.5.13" targetFramework="net461" />
  <package id="Topshelf" version="4.0.3" targetFramework="net461" />
</packages>